{% extends 'basic_layout.html' %}

{% block link_here %}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/superfamily_display.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.css">
{% endblock link_here %}

{% block content %}

<h1>{{ sf_code }}</h1>
<div id="chart" class="chart"></div>

{% endblock content %}


{% block script %}

<script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/superfamily_display.js') }}"></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.newPlot('chart',graphs,{});
</script>
{% endblock script %}
