.gradient_container {
  position: absolute;
  width: 1367px;
  height: 117px;
  left: calc(50% - 1440px/2);
  top: 0px;
  background: linear-gradient(90.27deg, #003300 32.8%, #005C00 65.06%, #006600 75.17%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.picture_gendis {
  position: absolute;
  width: 347px;
  height: 66px;
  left: 220px;
  top: 27px;
  /* background: url(gendis_logoy);*/
}

.dropdown_beside_search_box {
  position: absolute;
  width: 250px;
  height: 40px;
  left: calc(50% - 150px/2 + 17px);
  top: 38px;
  padding-left: 11px;
  background: #FFFFFF;
  border-radius: 12px;
  border-style: none;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #629804   ;

  /* color: #A0B0A0; */
}

.search_box {
  position: absolute;
width: 350px;
height: 38px;
left: calc(50% - 250px/2 + 330.5px);
top: 38px;
padding-left: 11px;

background: #FFFFFF;
border-radius: 12px;
border-style: none;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
color: #629804   ;
}

.submit_button_for_search_box {
  position: absolute;
  width: 90px;
  height: 40px;
  left: calc(50% - 11px/2 + 488px);
  top: 38px;

  background: #FFFFDB;
  box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  border-style: none;
}

.search_icon {
  position: absolute;
  width: 21px;
  height: 21px;
  left: calc(52% - 1px/2 + 489.5px);
  top: 48px;

  background: #FFFFDB;

  /* background: #006600; */
}

.font_inside_search_box {
  /* position: absolute;
  width: 136px;
  height: 24px;
  left: calc(50% - 136px/2 + 4px);
  top: 48px; */

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: #A0B0A0;
}

.nav_bar {
  position: absolute;
  width: 1267px;
  height: 40px;
  left: calc(50% - 1440px/2);
  top: 120px;

  /* min-width: 100%;
  max-width: 100%; */

  padding-left: 360px;

  background: #FFFFDB;
}

.nav_bar_list ul {
  /* list-style-type: none; */
  /* overflow: hidden; */
}

.nav_bar_list li {
  display: inline;
  margin-left: 100px;
  padding-right: 10px;
}

.nav_bar_list li a {
  /* display: block;
  float: left; */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

}

.nav_bar_button {
  margin-top: 0px;
  margin-right: 10px;
  width: 100px;
  height: 40px;
  background-color: #FFFFDB;

  border-radius: 11px;
  border-style: none;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;

  transition: background-color 0.15s,
    color 0.15s;
}

.nav_bar_button:hover {
  background-color: #003300;
  color: #FFFFDB;
}

.nav_bar_button:active {
  background-color: #006600;
}

.nav_bar_list li a:hover {
  background-color: #111111;
}
