<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gendis 3.0</title>
    <link rel="stylesheet" href="css/basic_layout.css">
  </head>
  <body style="
    padding-top: 170px; /* for maintaining space after the nav bar */
    padding-bottom: 1000px;
  ">
    <div class="gradient_container">
      <img src="images/gendis_logoy.png" alt="Gendis 3.0" class="gendis_logo">
      <select class="header_dropdown" name="">
        <option value="" selected="selected" hidden="hidden">Search by ...</option>
        <option value="">name</option>
      </select>
      <div class="form_input">
        <form action="index.html" method="post">
          <input class="header_input_box" type="text" name="input_data" placeholder="Type SCOP id, Taxa, Domain Architecture ...">
          <input type="submit" class="submit_button_for_input_box" name="" value="">
          <img src="images/search_icon_green.png" class="search_icon_for_input_box" alt="Search">
        </form>
      </div>
     </div>
     <!--
    <div class="nav_bar">
      <ul class="nav_bar_list">
        <li><button class="nav_bar_button">Home</button></li>
        <li><button class="nav_bar_button">Browse by</button></li>
        <li><button class="nav_bar_button">Tools</button></li>
        <li><button class="nav_bar_button">Downloads</button></li>
        <li><button class="nav_bar_button">Help</button></li>
        <li><button class="nav_bar_button">CAPS</button></li>
      </ul>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p> -->
    <div class=nav_bar_flex>
      <!-- <a href="#">Home</a>
      <a href="#">Browse by</a>
      <a href="#">Tools</a>
      <a href="#">Downloads</a>
      <a href="#">Help</a>
      <a href="#">CAPS</a> -->
      <button class="nav_bar_button">Home</button>
    <button class="nav_bar_button">Browse by</button>
    <button class="nav_bar_button">Tools</button>
    <button class="nav_bar_button">Downloads</button>
    <button class="nav_bar_button">Help</button>
    <button class="nav_bar_button">CAPS</button>
    </div>
  </body>
</html>
