{% extends 'basic_layout.html' %}

{% block link_here %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/tools1.css') }}">
{% endblock link_here %}

{% block content %}

<div class="whole-box">
  <div class="tools-heading">
    Identify Structural Domains in the given Sequence
  </div>
  <div class="exec-box">
    <div class="options">
      <button id="user-exec" class="options-button options-button-active">User Execution</button>
      <button id="sample-exec" class="options-button">Sample Execution</button>
    </div>
    <form class="content">
<!-- User Content starts here -->
      <div class="user-content active">
        <div class="dropdown">
          <select class="dropdown-select">
            <option value="scop_domain" selected="selected">SCOP Domain</option>
            <option value="pfam_domain">Pfam Domain</option>
          </select>
        </div>
        <div class="input-box-heading">
          Paste ONLY ONE amino acid sequence in fasta format:
        </div>
        <div class="input-box">
          <textarea type="text" placeholder="Paste your sequence here"></textarea>
        </div>
        <div class="footer-buttons">
          <button class="footer-button">Submit</button>
          <button data-button-type="reset" class="footer-button">Reset</button>
        </div>
      </div>
<!-- Sample Content starts here -->
      <div class="sample-content">
        <div class="dropdown">
          <select class="dropdown-select">
            <option value="scop_domain" selected="selected">SCOP Domain</option>
            <option value="pfam_domain">Pfam Domain</option>
          </select>
        </div>
        <div class="input-box-heading">
          Test run using sample sequence:
        </div>
        <div class="input-box">
<textarea type="text">
>test1
FSGYPLYHSVYETYELVEKFYDPMFKYHLTVAQVRGGMVFELANSIVLPFDCRDYAVVLRKYADKIYSISMKHPQEMKTYSVSFDSLFSAVKNFTEIASKFSERLQDFDKSNPIVLRMMNDQLMFLERAFIDPLGLPDRPFYRHVIYAPSSHNKYAGESFPGIYDALFDIESKVDPSKAWGEVKRQIYVAAFTVQAAAETLSEVA"
</textarea>
        </div>
        <div class="footer-buttons">
          <button class="footer-button">Submit</button>
          <button disabled data-button-type="reset" class="footer-button">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{{ url_for('static',filename='js/tools1.js') }}"></script>
{% endblock script %}
