{% extends 'basic_layout.html' %}

{% block link_here %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/tools3.css') }}">
{% endblock link_here %}

{% block content %}

<div class="covers-everything">
  <div class="tool-heading">
    Align Input Sequence with Genome of a Given Superfamily
  </div>
  <div class="tool-box">
    <div class="toggle-buttons-div">
      <button type="button" class="toggle-buttons active-button">User Execution</button>
      <button type="button" class="toggle-buttons">Sample Execution</button>
    </div>
    <form class="user-content active-content">
      <div class="selector">
        <div class="selector-heading">
          Superfamily Name
        </div>
        <div class="selector-dropdown">
          <button data-show-list type="button">Select Superfamily name:</button>
          <div class="selector-content">
            <input type="text">
            <ul data-list>
              <li>some content here</li>
              <li>some content here</li>
              <li>some other content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some mouse here</li>
              <li>some elephant here</li>
              <li>some content here</li>
              <li>some eagle here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="selector">
        <div class="selector-heading">
          Genome Name 1:
        </div>
        <div class="selector-dropdown up">
          <button data-show-list type="button" disabled="disabled">Select Genome1:</button>
          <div class="selector-content">
            <input type="text">
            <ul data-list>
              <li>some content here</li>
              <li>some content here</li>
              <li>some other content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some mouse here</li>
              <li>some elephant here</li>
              <li>some content here</li>
              <li>some eagle here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="selector">
        <div class="selector-heading">
          Paste your set of Amino Acid Sequence in Fasta format:
        </div>
        <div class="textarea-div">
          <textarea name="name" rows="8" cols="80" disabled="disabled"></textarea>
        </div>
      </div>
      <div class="footer-buttons">
        <button type="button" disabled="disabled">Align</button>
        <button type="button">Reset</button>
      </div>
    </form>
    <form class="sample-content">
      <div class="selector">
        <div class="selector-heading">
          Superfamily (sample contetn)
        </div>
        <div class="selector-dropdown">
          <button type="button">Select Superfamily name:</button>
          <div class="selector-content">
            <input type="text">
            <ul>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
              <li>some content here</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="selector">
        <div class="selector-heading">
          Genome 1:
        </div>
        <div class="selector-dropdown">
          <button type="button">Select Genome1:</button>
        </div>
      </div>
      <div class="selector">
        <div class="selector-heading">
          Genome 2:
        </div>
        <div class="selector-dropdown">
          <button type="button">Select Genome2:</button>
        </div>
      </div>
      <div class="footer-buttons">
        <button type="button" disabled>Align</button>
        <!-- <button type="button"></button> -->
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{{ url_for('static',filename='js/tools3.js') }}"></script>
{% endblock script %}
